spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/store_management
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  # redis:
  #    host: localhost
  #    port: 6379
  mail:
    host: smtp.gmail.com
    port: 587
    username: khai11080707@gmail.com
    password: uavnxzfrbklfkgaf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret-key: GROUP_15SIEUVIPPRO1111111111111111111111
server:
  servlet:
    context-path: /api/v1
  port: 8080
